extends layout

block content
	.index-wrapper
		#top-content
			.logo
			h1 hello
			h1
				a.btn.tn-primary.btn-lg(href="#") Learn more

	.first_section
		.container
			.col-xs-6.left
				h1 Hello
			.col-xs-6.right
				h1 hello
	
	.second_section
		.container
			.col-xs-6.how.one
				h1 Hello
			.col-xs-6.how.two
				h1 hello	
			.col-xs-6.how.three
				h1 Hello
			.col-xs-6.how.four
				h1 hello			

	.third_section
		.container
			.col-xs-6.left
				h1 hello
			.col-xs-6.right	
				h1 hello