extends layout

block content
	.index-wrapper.none
		<!--<img class="turnable-1" src="/public/images/studio/-01.jpg" data-turnable-options='{"frames": 16}'/>
		script
			$(window).bind("load", function() {
				$("img.turnable-1").turnable();
			});-->
		.bigimage
			<img class="turnable-1" src="/public/images/studio/-01.jpg" />
			script
				$(window).bind("load", function() {
					$(".turnable-1").turnable({
						showInstruction: false,
						showSpinButton: false,
						images: [
							"/public/images/studio/-01.jpg",
							"/public/images/studio/-02.jpg",
							"/public/images/studio/-03.jpg",
							"/public/images/studio/-04.jpg",
							"/public/images/studio/-05.jpg",
							"/public/images/studio/-06.jpg",
							"/public/images/studio/-07.jpg",
							"/public/images/studio/-08.jpg",
							"/public/images/studio/-09.jpg",
							"/public/images/studio/-10.jpg",
							"/public/images/studio/-11.jpg",
							"/public/images/studio/-12.jpg",
							"/public/images/studio/-13.jpg",
							"/public/images/studio/-14.jpg",
							"/public/images/studio/-15.jpg",
							"/public/images/studio/-16.jpg"
						]
					});
				});			

		.background
		#top-content
			.logo
			h1.top Win Spinning Photos<br>of Your Products.
			h1
				a.btn.btn-primary.btn-lg.extra-lg Enter now gg

	.first_section
		.container
			.col-xs-6.left
				.awesomeness
					h1 360 degrees of awesomeness.
					h3 The winner of #tictail360 will be able to enhance their store with beautiful product images that spin with the click of a mouse or swipe of a finger for one full year.
			.col-xs-6.right
				.ahlens
					<img id="ahlens" src="/public/images/ahlens/-01.jpg" />
					script
						$(window).bind("load", function() {
							$("#ahlens").turnable({
								showSpinButton: false,
								images: [
									"/public/images/ahlens/-01.jpg",
									"/public/images/ahlens/-02.jpg",
									"/public/images/ahlens/-03.jpg",
									"/public/images/ahlens/-04.jpg",
									"/public/images/ahlens/-05.jpg",
									"/public/images/ahlens/-06.jpg",
									"/public/images/ahlens/-07.jpg",
									"/public/images/ahlens/-08.jpg",
									"/public/images/ahlens/-09.jpg",
									"/public/images/ahlens/-10.jpg",
									"/public/images/ahlens/-11.jpg",
									"/public/images/ahlens/-12.jpg",
									"/public/images/ahlens/-13.jpg",
									"/public/images/ahlens/-14.jpg",
									"/public/images/ahlens/-15.jpg",
									"/public/images/ahlens/-16.jpg",
									"/public/images/ahlens/-17.jpg",
									"/public/images/ahlens/-18.jpg",
									"/public/images/ahlens/-19.jpg"
								]
							});	
						});
	
	.second_section
		.container.second
			h1.title How do I enter?
			.col-xs-6.how
				.one
				p.round 1	
				h4 Pick a photo of yourself with your product(s).
			.col-xs-6.how
				.two
				p.round.r 2
				h4 Upload the photo to Facebook with the hashtag #tictail360 and a message encouraging people to share it.	
			.col-xs-6.how
				.three
				p.round 3
				h4  Get people to share the photo!
			.col-xs-6.how
				.four.none

					<img id="watch" src="/public/images/watch/-01.jpg" />
					script
						$(window).bind("load", function() {
							$("#watch").turnable({
								showInstruction: false,
								images: [
									"/public/images/watch/-01.jpg",
									"/public/images/watch/-02.jpg",
									"/public/images/watch/-03.jpg",
									"/public/images/watch/-04.jpg",
									"/public/images/watch/-05.jpg",
									"/public/images/watch/-06.jpg",
									"/public/images/watch/-07.jpg",
									"/public/images/watch/-08.jpg",
									"/public/images/watch/-09.jpg",
									"/public/images/watch/-10.jpg",
									"/public/images/watch/-11.jpg",
									"/public/images/watch/-12.jpg",
									"/public/images/watch/-13.jpg",
									"/public/images/watch/-14.jpg",
									"/public/images/watch/-15.jpg",
									"/public/images/watch/-16.jpg",
									"/public/images/watch/-17.jpg",
									"/public/images/watch/-18.jpg",
									"/public/images/watch/-19.jpg"
								]
							});
						});
					<!--<img id="watch" src="/public/images/watch/-01.jpg" data-turnable-options='{"frames": 19}' />
					script(src='/public/javascripts/turnable-1.4.1.jquery.min.js')
					script
						$(window).load(function() {
							$("img#watch").turnable();
						});	-->
				p.round.r 4
				h4 The store with the most photo shares wins spinning product images!	

	.third_section
		.container.third
			.col-xs-6.left.what
				.whatis
					h1 What is Sosinski?
					p Interactive fashion photographer Michael Sosinski takes online fashion to a new level. By combining his interactive technology with fashion photography you get a cinematic experience with just a few images! This new format provides a unique feeling and communicates product with emotion. Simply drag / swipe the image with your finger or mouse and start to Interact with the picture! Suitable for all devices and browsers. 
			.col-xs-6.right.what	
				.sosinski

	.fourth_section
		.container.fourth
			h5 Terms and conditions 
			p.terms 
				| Competition for Tictail webstores only. Winner will receive Sosinski Interactive 
				| Photography package for their webstore including the spin plug-in for 1 full year 
				| with up to 50 product spins. Tictail is responsible for shipping the products to 
				| and from photo studio (up to a cost of 2000 SEK). Up to 25 items for photo shoot 
				| must #1 be shipped between (DATES TBA) and spins will go live on DATE TBA. Up to 25 
				| items for photo shoot #2 must be shipped between November 1- December 15, 2013 for 
				| spins that will go live by Feb 1, 2014. Items will be returned within 15 days after 
				| date of photo shoot. Sosinski Interactive Photography plug-in will expire 1 year after 
				| first post. License agreement and contract must be signed prior to installation of plug-in.  			