extends layout

block content
	.index-wrapper
		<iframe src="http://embed.sosinski.se/?image_url=http://showroom.sosinski.se/images/b1fab752b7f5bca623599774ccd0dacd_-01.jpg&frames=16&nospin=true" frameborder="0"></iframe>
		.background
		#top-content
			.logo
			h1.top Win Spinning Photos<br> Your Products.
			h1
				a.btn.btn-primary.btn-lg.extra-lg(href="#") Enter now

	.first_section
		.container
			.col-xs-6.left
				h1 Hello
			.col-xs-6.right
				h1 hello
	
	.second_section
		.container.second
			h1.title How do i enter?
			.col-xs-6.how
				.one
				p.round 1	
				h3 Hello
			.col-xs-6.how
				.two
				p.round.r 2
				h3 hello	
			.col-xs-6.how
				.three
				p.round 3
				h3 Hello
			.col-xs-6.how
				.four
				p.round.r 4
				h3 hello			

	.third_section
		.container
			.col-xs-6.left
				h1 hello
			.col-xs-6.right	
				h1 hello

	.fourth_section
		.container	
			h5 Terms and conditions 
			p 
				| Competition for Tictail webstores only. Winner will receive Sosinski Interactive 
				| Photography package for their webstore including the spin plug-in for 1 full year 
				| with up to 50 product spins. Tictail is responsible for shipping the products to 
				| and from photo studio (up to a cost of 2000 SEK). Up to 25 items for photo shoot 
				| must #1 be shipped between (DATES TBA) and spins will go live on DATE TBA. Up to 25 
				| items for photo shoot #2 must be shipped between November 1- December 15, 2013 for 
				| spins that will go live by Feb 1, 2014. Items will be returned within 15 days after 
				| date of photo shoot. Sosinski Interactive Photography plug-in will expire 1 year after 
				| first post. License agreement and contract must be signed prior to installation of plug-in.  			