extends layout

block content
	.index-wrapper
		#top-content
			.logo
			h1 hello
			h1
				a.btn.tn-primary.btn-lg(href="#") Learn more

	.container
		.first_section
			.col-xs-6.left
				h1 Hello
			.col-xs-6.right
				h1 hello