extends layout

block content
	.index-wrapper
		#top-content
			.logo
			h1 hello
			h1
				a.btn.tn-primary.btn-lg(href="#") Learn more

	.first_section
		.container
			.col-xs-6.left
				h1 Hello
			.col-xs-6.right
				h1 hello
	
	.second_section
		.container
			.col-xs-6.how.one
				h1 Hello
			.col-xs-6.how.two
				h1 hello	
			.col-xs-6.how.three
				h1 Hello
			.col-xs-6.how.four
				h1 hello			

	.third_section
		.container
			.col-xs-6.left
				h1 hello
			.col-xs-6.right	
				h1 hello

	.fourth_section
		.container	
			h5 Terms and conditions 
			p 
				| Competition for Tictail webstores only. Winner will receive Sosinski Interactive 
				| Photography package for their webstore including the spin plug-in for 1 full year 
				| with up to 50 product spins. Tictail is responsible for shipping the products to 
				| and from photo studio (up to a cost of 2000 SEK). Up to 25 items for photo shoot 
				| must #1 be shipped between (DATES TBA) and spins will go live on DATE TBA. Up to 25 
				| items for photo shoot #2 must be shipped between November 1- December 15, 2013 for 
				| spins that will go live by Feb 1, 2014. Items will be returned within 15 days after 
				| date of photo shoot. Sosinski Interactive Photography plug-in will expire 1 year after 
				| first post. License agreement and contract must be signed prior to installation of plug-in.  			