doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/public/stylesheets/style.css')
		link(rel='stylesheet', href='/public/stylesheets/turnable-1.4.1.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
		script(src='/public/javascripts/jquery-1.9.1.min.js')
		script(type='text/javascript', src='/public/javascripts/turnable-1.4.1.jquery.min.js')
	body
		block content
		script
			$(document).ready(function (){
				console.log('start')
					$(".btn").click(function (){
						//$(this).animate(function(){
							$('body').animate({
								scrollTop: $(".second_section").offset().top
							}, 800);
						//});
					});
				}); 	
		