html, body, .col-xs-6 {
	padding:0;
	height: 100%;
}

.index-wrapper {
	height: 700px;
	top:0;
	background-color: blue;
	width: 100%;
	display: table;
	overflow: hidden;
	text-align: center;
}

.container{
	width: 100%;
	
}

#top-content{
	text-align: center;
	top: 50px;
	width: 100%;
	background: green;
	display: table-cell;
	vertical-align: middle;
}

.logo{
	background-image:url() repeat-none;
	background-color: blue;
	text-align: center;
	margin: 0 auto;
	width:60px;
	height:60px;
}

.btn{
	background: blue;
}

.first_section{
	background: #f1f6fa;
	height: 470px;
}

.left{
	background: pink;
	height: 200px;
}

.right{ 
	background: yellow;
	height: 200px;
	}


.second_section{
	background: #1772b0;
	padding-top: 50px;
}

.how{
	height: 300px;
}

h1.title{
	text-align: center;
	margin-bottom: 60px;
	color: white;
}

.r{
	margin-left: 30px;
}

.second{

}

p.round{
	width: 46px;
	height: 46px;
	border-radius: 46px;
	background: #00629d;
	padding: 7px 17px ;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 21px;
}

.one{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-right: 30px;	
}

.two{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-left: 30px;
}

.three{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-right: 30px;
}

.four{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-left: 30px;
}

.third_section{
	height: 600px;
	background: #f1f6fa;
}

.fourth_section{
	background: #1772b0;
	height: 300px;
	text-align: left;
	padding-top: 50px;
}

h5{
	font-size: 14px;
	text-transform: uppercase;
	line-height: 0;
	font-weight: normal;
	color:white;
}

p{
	color: white;
}
