html, body {
	height: 100%;
}

.index-wrapper {
	/*background-image: url('../bower/bootstrap/');*/
	height: 300px;
}

.container{
	width: 760px;
}

#header{
	text-align: center;	
	background-color: green;
}