html, body, .col-xs-6,{
	padding:0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

h1{
	margin-top: 0;
}

p, h1, h2, h3, h4, h5 a{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

	h1{
		font-weight: 800;
		color: #222;
		font-size: 32px;
	}

	h3{
		color: #666666;
		font-size: 19px;
		font-weight: 400;
		line-height: 1.625em;
		display: block;
		-webkit-margin-before: 1.7em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 60px;
	}

	h4{
		color: white;
		font-size: 16px;
		line-height: 1.35em;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 10px;
	}

.index-wrapper {
	height: 700px;
	top:0;
	width: 100%;
	display: table;
	overflow: hidden;
	text-align: center;
}

.container{
	padding-right: 25px;
	padding-left: 25px;
	max-width: 900px;
	
}

.background{
	width: 100%;
	height: 700px;
	position: absolute;
	background: black;
	z-index: -3
}

#top-content{
	text-align: center;
	display: table-cell;
	top: 200px;
	width: 100%;
	z-index:9999;
	position: absolute;
}

h1.top{
	color:white;
	margin: 40px 0;
	line-height: 1.3em;
}


.btn {
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.btn {
min-width: 100px;
padding: 12px 18px;
font-size: 20px;
font-weight: bold;
line-height: 1.428571429;
text-shadow: 0 1px 0 rgba(0,0,0,0.1);
background-image: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,0.03) 100%);
background-image: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(0,0,0,0.03) 100%);
background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,0.03) 100%);
background-repeat: repeat-x;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(255,255,255,0.05);
-webkit-transition: background-color,color,border;
-moz-transition: background-color,color,border;
-o-transition: background-color,color,border;
transition: background-color,color,border;
-webkit-transition-duration: .15s;
transition-duration: .15s;
}


.btn-primary {
color: #fff;
background-color: #47ba42;
border-color: #3daa39;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #3c9c37;
border-color: #2d7c2a;
}

.btn-primary:hover, .btn-success:hover, .btn-primary:focus, .btn-success:focus {
color: #fff;
background-color: #51c14c;
border-top-color: #3daa39;
border-right-color: #3aa236;
border-bottom-color: #389b34;
border-left-color: #3aa236;
}

.index-wrapper iframe{
	position: absolute;
	left:-20%;
	opacity: 0.2;
	-webkit-filter: grayscale(70%); 
	
}

.logo{
	background-image:url('/public/images/logo.png');
	background-repeat:no-repeat;
	background-position: center center; 
	height: 60px;
}


.first_section{	
	height: 490px;
	background: #f1f6fa;
}

.left{
	height: 490px;
	top: 50%;
	display: table;
	overflow: hidden;
}

.awesomeness{
		vertical-align: middle;
		text-align: left;
		display: table-cell;
	}


.right{ 
	height: 470px;
	}

.blue-bottom{
	width: 350px;
	height: 70px;
	right:0;
	bottom: -90px;
	background: #1772b0;
	position: absolute;
	}

.right iframe{
	margin-top: 50px;
	float:right;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: block;
	background-position: absolute;
	}


.second_section{
	background: #1772b0;
	padding-top: 110px;
	padding-bottom: 60px;
}

.how{
	height: 320px;
}

h1.title{
	text-align: center;
	margin-bottom: 60px;
	color: white;
}

.r{
	margin-left: 5px;
}


p.round{
	width: 44px;
	height: 44px;
	border-radius: 46px;
	background: #00629d;
	padding: 5.9px 16.1px ;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-right: 15px;
	font-size: 21px;
	font-weight: 700;
	color:white;
}

.one{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-right: 5px;	
}

.two{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-left: 5px;
}

.three{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-right: 5px;
}

.four{
	border-radius: 5px;
	height: 187px;
	background: #00629d;
	margin-left: 5px;
}

.third_section{
	height: 520px;
	background: #f1f6fa;
}

.container.third{
	padding-right: 0px;
}

.whatis{
		vertical-align: middle;
		text-align: left;
		display: table-cell;
	}

.whatis p{
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 400;
	-webkit-margin-before: 1.8em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 10px;
	color: #666666;
}

.left.what,
.right.what{
	height: 520px;
	padding-right:0;
	margin-right:0;
}

.fourth_section{
	background: #1772b0;
	height: 340px;
	text-align: left;
	padding-top: 90px;

}

.container.fourth{
	padding-left:40px;
	padding-right:40px;
}


h5{
	font-size: 13px;
	text-transform: uppercase;
	line-height: 0em;
	font-weight: 700;
	color:white;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

p.terms{
	color:white;
	font-size: 13px;
	line-height: 1.6em;
}

.sosinski{
	background-image:url('/public/images/sosinski.png');
	background-repeat:no-repeat;
	background-position: center right; 
	height: 100%;
	right: 0;
	padding-right: 0px;

}


